%h1 All Lists

= form_tag(lists_path, method: "post") do  #, :id => 'add_list_form') do
  = text_field_tag "title"
  = text_field_tag "description"
  = submit_tag "Add" 

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Description
      %th Item Count
  %tbody
    - @lists.each do |list|
      %tr
        %td= link_to list.title, list
        %td= list.description
        %td= list.items.count
