!!!
%html
  %head
    %title ToDoListDavidAskew
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"} Todo Lists by David
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "/"} Home
          %li.active
            = link_to('Lists', lists_path)
          %li.active
            = link_to('Items', items_path)
        %p.navbar-text.pull-right
          - if user_signed_in?
            = current_user.email
            | #{link_to('Logout', destroy_user_session_path, :method => :delete)}
          - else
            = link_to('Login', new_user_session_path)
      .container 
        - if flash[:notice]
          %p.notice 
            = flash[:notice]
        - if flash[:alert]
          %p.alert 
            = flash[:alert]
        = yield
